html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #edddff 0%, #fcaeb9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.504); 
    border-radius: 1.5rem;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.container p:first-child {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

#generated-joke {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #333;
}

.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

button {
    width: 80%;
    color: white;
    border: none;
    border-radius: 1.1rem !important;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #e2d2f5;
    transform: scale(1.05);
    cursor: pointer;
}
