html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #edddff 0%, #fcaeb9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.504); 
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;
    max-width: 95% !important;
}

.container p:first-child {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

#generated-joke {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #333;
}

.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

button {
    width: 65% !important;
    color: white;
    border: 1px solid rgba(70, 70, 70, 0.5) !important;
    border-radius: 1.1rem !important;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #e2d2f5;
    transform: scale(1.05);
    cursor: pointer;
}

.toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #363636;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
  }
  
  .toast.show {
    opacity: 1;
    pointer-events: auto;
  }

@media (max-width: 500px) {
    .container {
      max-width: 90%;
    }
  }
